
<%= form_for(@apply) do |f| %>

  <% if @apply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apply.errors.count, "error") %> prohibited this apply from being saved:</h2>

      <ul>
      <% @apply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <tr>
        <td>
        <%= f.label :username %> <br/>
        <%= @apply.user.name %>
      </td>
        <td>
          <%= f.label :resume %> <br/>
          <%= @apply.user.resume %>
        </td>
        <td>
          <%= f.label :skills %> <br/>
          <%= @apply.user.skills %>
        </td>
        <td>
          <div class="cover">
            <%= f.label :cover %> <br/>
            <%= f.text_area :cover, :disabled => true %>
          </div>
        </td>
        <td>
          <div class="status">
            <%= f.label :status %><br>
            <%= f.select :status, [["Undecided",nil],["Not a fit",2],["Future Interview",1]] %>
          </div>
        </td>
      </tr>
    </table>
  <div class="actions">
    <%= f.submit "Update Application" %>
  </div>

<% end %>
