<h1>Listing applications</h1>

<table>
  <thead>
    <tr>
      <th>Coverletter</th>
      <th>Applicant Name</th>
      <th>Phone Number</th>
      <th>Email Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr>
        <td><%= apply.cover %></td>
        <td><%= apply.user.name %></td>
        <td><%= apply.user.phone %></td>
        <td><%= apply.user.email %></td>
        <td><%= link_to 'Update', edit_apply_path(apply) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

