
<div>

    <h1> <font color = "green"> Direwolf Login </font></h1>
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <fieldset>
        <legend>Please Log In</legend>

        <div>
          <%= label_tag :username, 'Username:' %>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div>
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag "Login", class: "btn btn-success"%>
        </div>
      </fieldset>
      <%= link_to 'Register new Job Seeker', new_user_path %> | <%= link_to 'Search for Jobs Here', searches_path %>

<% end %>
  <img SRC="http://harrisongreetingcards.net/images/1505_thank_you_for_visiting_with_us_card.png" style="width:304px;height:228px">
</div>
