<h1>Job Seeker Page</h1>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter Job Title" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<h2>Job Postings</h2>
<tbody>
<table style="width:100%" border="1">
  <tr>
    <td>ID</td>
    <td> Title</td>
    <td> Description</td>
    <td> App. Deadline</td>
    <td> Action </td>
    <td>Applied or NOT</td>
  </tr>
  <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.deadline %></td>
        <td><%= link_to 'Apply', new_apply_url(job.id) %> </td>
        <td> applied </td>
        </td>

      </tr>
  <% end %>
</table>

</tbody>



<br>

