<h2>ADD Admin</h2>

<div class="addAdmin">
	 <%= form_tag(:action => 'add_admins') do %>
   <table>
   	<tr>
   		<td><%= label_tag(:name) %></td>
   		<td><%= text_field_tag(:name) %></td>
   	</tr>
   	 <tr>
   	 	 <td><%= label_tag(:email) %></td>
   	 	 <td><%= text_field_tag(:email) %></td>
   	 </tr>
   	 <tr>
   	 	<td><%= label_tag(:password) %></td>
   	 	<td><%= password_field_tag(:password) %></td>
   	 </tr>
   	 <tr>
   	 	 <td>&nbsp;</td>
   	 	 <td><%= submit_tag("Add Admin") %></td>
   	  </tr>
   	</table>
    <% end %>
 </div>