<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @job.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.title %><br>
  <strong>Deadline: </strong>
  <%= @job.deadline %><br>
  <strong>Details: </strong>
  <%= @job.description %><br>
</p>

