<%= form_for(@job) do |j| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="title">
    <%= j.label :title %><br>
    <%= j.text_field :title %>
  </div>

    <div class="deadline">
      <%= j.label :deadline %><br>
      <%= j.text_field :deadline %>
    </div>
  <div class="actions">
    <%= j.submit %>
  </div>
<% end %>
