
<%= form_for(@user) do |u| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this field from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="user">
      <%= u.label :name %><br>
      <%= u.text_field :name %>
    </div>
    <div class="user">
        <%= u.label :password %><br>
        <%= u.password_field :password %>
    </div>

    <div class="user">
      <%= u.label :password_confirmation %><br>
      <%= u.password_field :password_confirmation%>
    </div>
    <div class="user">
      <%= u.label :username %><br>
      <%= u.text_field :username %>
    </div>
    <div class="user">
      <%= u.label :email %><br>
      <%= u.text_field :email %>
    </div>
    <div class="user">
      <%= u.label :phone %><br>
      <%= u.text_field :phone %>
    </div>
    <% if (params[:role].eql?("USR") || (params[:role].nil? && @user.role.nil?)) %>
    <div class="user">
      <%= u.label :skills %><br>
      <%= u.text_area :skills, cols: 80 %>
    </div>
    <div class="user">
      <%= u.label :resume %><br>
      <%= u.text_area :resume, cols: 80 %>
    </div>
    <% end %>
    <% if params[:role].eql?("EMP") %>
        <div class="user">
          <%= u.label "Contact Name" %><br>
          <%= u.text_field :contactName %>
        </div>
    <% end %>
    <br/>
    <% if (params[:role].nil? ) then
            %><%= u.hidden_field :role, :value => @user.role %><%
        else
            %><%= u.hidden_field :role, :value => params[:role] %><%
        end %>
    <div class="actions">
      <%= u.submit %>
    </div>
<% end %>
