<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if @user.role == "USR" && @user.updated_at < 20.minutes.ago %>
    <%= link_to 'Back', root_url  %>
<% elsif @user.role == "EMP"  %>
    <%=  link_to 'Back', root_url %>
<% else %>
    <%= link_to 'Back', root_url  %>
<% end %>


