<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if @user.role == "USR"  %>
    <%= link_to 'Back', controller: 'jobseekers'  %>
<% elsif @user.role == "EMP"  %>
    <%=  link_to 'Back', "/sessions/employer_first/" %>
<% else %>
    <%= link_to 'Back', loginagin_url, :method => :delete  %>
<% end %>


