<div class="container">
<h1>Job Seeker Page</h1>
<%= link_to 'Search for Jobs Here', searches_path %>

<br>

<%= link_to 'Job Postings Here', new_jobseekers_path %>
  <br>
  
  <tbody>
  <table style="width:100%" border="1">
   <tr><h2> Applied Jobs</h2></tr>

      <% @jobs.each do |job| %>
      <% job.applies.each do |a| %>
       <% if session[:user_role] == "USR" && session[:user_id] == a.user_id %>
                <tr>
                  <td>ID</td>
                  <td> Title</td>
                  <td> Description</td>
                  <td> Applied On </td>
                </tr>
        <tr>
          <td><%= job.id %></td>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= job.updated_at.strftime("%m/%d/%Y") %></td>
<% end %>
        <% end %>
      <% end %>
    </tr>

  </table>


  </tbody>



<br>

</div>