<h2>Job Postings</h2>
<tbody>
<table style="width:100%" border="1">
  <tr>
    <td>ID</td>
    <td> Title</td>
    <td> Description</td>
    <td> App. Deadline</td>
    <td>Applied or NOT</td>
  </tr>
  <%  @jobs.each do |job| unless @ap.include?(job.id)%>
        <% if job.isDeleted == false %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.deadline.strftime("%m/%d/%Y") %></td>
        <td> <%= link_to 'Apply', new_apply_path(:job_id => job.id), class: "btn btn-success"  %> </td>
      </tr>
              <% end %>
  <%  end %>
      <% end %>

</table>

</tbody>
<tbody>