<h1>Search Job Titles: </h1>

<table>
  <thead>
    <tr>
      <th>Search</th>
      <th>Text field tag</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  </table>
<%= form_tag search_results_path do %>
    <%= text_field_tag :keywords, placeholder = "Title or Description" %>
    <%= select_tag(:field_id, options_for_select([['', 0]]) + options_from_collection_for_select(Field.all, :id, :name,  params[:field_id])) %>
<%= submit_tag 'Search' %>

    <%= render @jobs %>


    <a href="../">Back to Homepage</a>
<% end %>