<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @search.search %>
</p>

<p>
  <strong>Text field tag:</strong>
  <%= @search.text_field_tag %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
