<!DOCTYPE html>
<html>
<head>
  <title>Direwolf</title>
  <link href="../assets/bootstrap.css" rel="stylesheet" media="screen">
  <link href="../assets/statuses.css" rel="stylesheet" media="screen">

  <script src="../assets/bootstrap.js"></script>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
<% if !(session[:user_id].nil?) %>
   <%= link_to 'Home', root_url %> | <%= link_to 'Profile', edit_user_path(session[:user_id]) %> | <%= link_to 'Logout', logout_path, :method => :delete %>
<% end %>
    </div>
<%= yield %>


</body>
</html>
